axi_lite_apb_converter_prj/

*.bak
*.zip
*.log
*.pdf
*.xls
vivado*
vivado.*

/src/**/hw_handoff/

/src/tb/**/run_questasim.bat

/src/**/sim/
/src/**/ipshared/
/src/**/*.bxml
/src/**/*.xdc

/src/ip/**/*
!/src/ip/*
!/src/ip/**/*.xci

/src/**/ip/**/*
!/src/**/ip/*
!/src/**/ip/**/*.xci
!/src/ip/**/synth/
!/src/ip/**/synth/*.vhd
!/src/ip/**/synth/*.v
!/src/ip/**/synth/*.sv


